.navi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    top: 0;
    position: sticky;
}
.navi-in {
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
}
.navi-in-one{
    width: 25%;
}
.navi-in-one h1 span {
    font-size: 1.4rem;
    font-weight: 600;
    color: gold; 
}
.navi-in-two{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navi-in-two-in{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navi-in-two-in h2{
    font-size: 1rem;
    font-weight: 500;
}
.navi-in-two-in h2:hover{
    color: gold;
}
.navi-in-three button {
    border: none;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.navi-in-three button:hover {
    background-color: orange; /* Add a hover effect for better UX */
}
