.nav-component{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.nav-in{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav-in-one{
    width: 26%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navIcon{
    color: yellow;
    font-size: 1.5rem;
}
.nav-in-one h1{
    font-size: 1.4rem;
    font-weight: 600;
}
.nav-in-two{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-two button{
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
    padding: 0.6rem;
}
.nav-in-two button:hover{
    background:blue;
    color: white;
    transition: 0.2s ease-in;
}